# SPDX-License-Identifier: GPL-2.0-or-later

menuconfig AW_DRM_PANEL
	tristate "Support panel based on DRM framework"
	depends on AW_DRM
	default n
	help
		If you want use DRM panel, select it.

config PANEL_SQ101D_Q5DI404_84H501H
	bool "SQ101D_Q5DI404_84H501H panel"
	depends on (AW_DRM_PANEL)
	select VIDEOMODE_HELPERS
	default n
	help
		If you want to support PANEL_SQ101D_Q5DI404_84H501H panel, select it.

config PANEL_BP101WX1
	bool "BP101WX1 LVDS panel"
	depends on (AW_DRM_PANEL)
	select VIDEOMODE_HELPERS
	default n
	help
		If you want to support PANEL_BP101WX1 panel, select it.

config PANEL_EDP_GENERAL
    tristate "eDP general drm panel"
	depends on (AW_DRM_PANEL)
	select VIDEOMODE_HELPERS
    default n
    help
        If you want to support general edp panel, select it.

